.slider {
  position: relative;
  width: auto;
  margin: auto;
  overflow: hidden;
  text-align: center;
  margin-top: -56px;
  padding-bottom: 30px;
}

.slider-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  position: relative;
  margin-bottom: 5px;
  justify-content: center;
}

.slides {
  
}

.slide {
  min-width: 100%;
  padding: 10px;
}

.slider-arrow {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.slider-arrow .prev,
.slider-arrow .next {
  pointer-events: all;
}

.slider-arrow .prev::before,
.slider-arrow .next::before {
  content: url(../icons/angle_arrow.svg);
  display: block;
}

.slider-arrow .next::before {
  transform: scaleX(-1);
}

.slider-arrow .prev:hover:before,
.slider-arrow .next:hover:before {
  content: url(../icons/angle_arrow-active.svg);
}

.dots {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 10px);
}

.dot {
  width: 16px;
  height: 16px;
  margin: 0 18px;
  background: #EAEAEA;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: #5BC8AF;
}

.right-side {
  max-width: 675px;
  margin-top: 5px;
  height: auto;
  max-height: 269px;
  height: auto;
  width: 100%;
  background-size: cover;
  padding: 18px 70px;
  background: #194D44;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}


.align-items {
  align-items: center;
}

.slider-heading {
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 700;
  text-align: left;
}

.slider-para {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #FFFFFF;
  text-align: left;
}

.quotes img {
  margin-left: auto;
  display: block;
  padding-top: 19px;
  margin-right: -4px;
}

.left-side img {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}