.hero {
  padding: calc(5% + 40px) 0;
  background: url("../images/hero_bg_fill.jpg") no-repeat center center / cover;
  color: var(--secondary-color);
  position: relative;
}

/* Ensure Hero Content Stays Inside the Grid */
.hero .container {
  text-align: left;
}

/* Hero Left */
.hero-left h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}


.hero-left p {
  font-size: 1.125rem;
  margin-bottom: 20px;
  letter-spacing: -0.56px;
}



.hero-bottom, .hero-bottom::before, .hero-bottom::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
}

.hero-bottom {
  padding-top: 111px;
}

.hero-bottom::before, .hero-bottom::after {
  content: "";
  background-position: left bottom;
}

.hero-bottom::before {
  background-image: url('../images/bg-curve-1.svg');
  height: 100%;
}
.hero-bottom::after {
  background-image: url('../images/bg-curve-2.svg');
  height: calc(100% - 21px);
  z-index: 2;
}

/* Responsive Tweaks */
@media (max-width: 576px) {
  .hero .container {
    text-align: center;
  }

  .hero-right {
    margin-top: 30px;
  }
}
