.hero {
  padding-top: calc(10% + 40px);
  padding-bottom: 165px;
  background: url("../images/hero_bg_fill.jpg") no-repeat center center / cover;
  color: var(--secondary-color);
  position: relative;
}

.hero .container {
  text-align: left;
}

.hero-left h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.hero-left{
  text-align: center;
}

.hero-left p {
  font-size: 1.125rem;
  margin-bottom: 20px;
  letter-spacing: -0.56px;
}

.text-stroke {
    display: block;
    line-height: 43px;
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
 .sub-heading {
    -webkit-text-stroke: 2px #333333;
    color: transparent;
}


.hero-bottom, .hero-bottom::before, .hero-bottom::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
}

.hero-bottom {
  padding-top: 111px;
}

.hero-bottom::before, .hero-bottom::after {
  content: "";
  background-position: left bottom;
  background-repeat: no-repeat;
  height: 100%;
}

.hero-bottom::before {
  background-image: url('../images/bg-curve-1.svg');
}
.hero-bottom::after {
  background-image: url('../images/bg-curve-2.svg');
  height: calc(100% - 21px);
  z-index: 2;
}

@media (max-width: 576px) {
  .hero .container {
    text-align: center;
  }

  .hero-right {
    margin-top: 30px;
  }
 
}

@media (min-width: 576px) {
  .hero-left h1 {
    font-size: 3rem;
  }
 
}

@media (min-width: 992px) {
  .hero-left{
    text-align: left;
  }
 
}

@media (min-width: 1400px) {
  .hero-bottom::before, .hero-bottom::after {
    background-size: contain;
  }
  .hero-bottom {
    padding-top: 8%;
  }
  .hero-left{
    text-align: left;
  }
}