.navbar {
  padding: 20px 0;
  position: absolute;
  inset-inline: 0;
  top: 0;
  width: 100%;
  color: var(--secondary-color); 
  z-index: 100;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-logo img {
  height: auto;
  width: auto;
  max-height: 50px; 
}

.navbar-menu{
  display: block;
}
.navbar-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--primary-color); 
}

.nav-links {
  display: flex;
  justify-content: end;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 20px 0;
}

.nav-links a {
  text-decoration: none;
  color: var(--secondary-color); 
  font-weight: 400;
  transition: all 0.3s ease;
}

.nav-links a.active {
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: underline;
}
.nav-links a:hover{
  color: var(--primary-color);
}
.menu-toggle{
  font-size: 38px;
  color: var(--primary-color);
}

.nav-contact .cta {
  color: var(--primary-color); 
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}
.separator{
  display: none;
}

@media screen and (min-width:992){
  .navbar-menu {
    display: flex;
    align-items: center;
    gap: 30px; 
  }
  .separator{
    display: block;
  }
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background: rgba(255, 255, 255, 0.9); 
    width: 200px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .navbar-toggle {
    display: block;
  }
  .nav-links {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: start;
    padding: 0;
    margin: 0;
    width: 100%;
}

  .navbar-menu.show {
    display: flex;
    top: 72px;
    background:#1f5045;
    position: absolute;
    height: 260px;
    transition: background 0.3s ease-in-out;
    width: 100%;
  }
  .separator{
    display: none;
  }
  .nav-contact{
    margin-right: auto;
    margin-top: 30px;
  }
}
