.watch-section {
  color: #FFF;
  padding-top: 5%;

  position: relative;
}

.watch-section .content {
  position: relative;
  z-index: 5;
}

.watch-section::before,
.watch-section::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}


.video-wrapper {
  background-image: url('../images/watch-video-bg.jpg');
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 461px;
}

.button-container {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
}

.click-animation {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.1s ease, opacity 0.1s ease;
}

.click-animation:active {
  transform: scale(0.9);
  opacity: 0.7;
}

.video-player {
  transform: translate(-50%, -50%);
  height: auto;
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99;
  display: none;
}

.video-player.play {
  display: block;
}
.break-tag{
  display: contents;
}

@media (max-width: 575px) {}

@media (max-width: 991px) {

  .watch-section::before,
  .watch-section::after {
    background-position: bottom center;
    right: 0;
  }
  .watch-section h1{
    text-align: center;
  }
  .break-tag{
    display: block;
  }
  
  .watch-section::before {
    background-image: url('../images/video-curve-green-bottom.svg');
    height: calc(100% - 44% + 30px - 15px);
  }

  .watch-section::after {
    background-image: url('../images/video-curve-white-bottom.svg');
    height: calc(100% - 50% + 30px);
  }

  .video-wrapper {
    padding-top: 65%;
    position: relative;
  }
}


@media (min-width: 992px) {
  .watch-section {
    padding-bottom: 5%;
  }

  .watch-section::before,
  .watch-section::after {
    background-position: center right;
    bottom: 0;
  }

  .watch-section::before {
    background-image: url('../images/video-curve-green.svg');
    right: calc(47.5% - 30px);
  }

  .watch-section::after {
    background-image: url('../images/video-curve-white.svg');
    right: calc(47.5% - 45px);
  }

  .video-wrapper {
    right: 0;
    bottom: 0;
    height: 100%;
    width: calc(50% + 15px);
    position: absolute;
  }

  .button-container {
    bottom: 50%;
    transform: translate(-50%, 50%);
  }


  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
  position: relative;
        background: #337a69;
        padding: 20px 30px;
        border-radius: 8px;
        max-width: 600px;
        width: 100%;
        text-align: center;
}

video {
    width: 100%;
    border-radius: 5px;
}

.close {
  font-weight: 700;
  position: absolute;
  top: -2px;
  right: 11px;
  font-size: 30px;
  cursor: pointer;
  color: #eaeaea;

}

.close:hover {
    color:#53b39e;
}


}